.img {
    background-image: url('../../assets/images/photo2.jpeg');
    border-radius: 100%;
    background-position: center; 
    background-size: cover; 
    height: 250px;
    width: 260px;
    border: solid 1px white;
}