

.skil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skil-label {
    background-color: rgb(42, 7, 75);
    width: 10%;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
}