.skil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skil-label {
    background-color: rgb(42, 7, 75);
    width: 20%;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
}


@media (max-width: 769px) {
    .skil-label {   
        border-radius: 50%;
        font-size: 12px;
        font-weight: normal;
        width: 40%;
        height: 40px;
    }
  
}