
.container-skill .skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-skill .skill .skill-label {
    color: white;
    background-color: rgb(42, 7, 75);
    padding: 8px;
    margin: 3px;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .skill-label {   
       
    }
}