.l-content {
    margin: 30px;
    text-align: center;
}

.section-text {
    margin-bottom:  20px;
}

.section-text > .title {
    font-size: 20px;
    font-weight: bold;
}

.section-text > .subtitle {
    font-weight: 100;
    font-size: 13px;
    color: gray;
    margin-bottom:  10px;
}