<div class="l-header">
  <div class="l-header-container">
    <div class="img w3-animate-top"></div>
  </div>
  <div class="l-div-text w3-animate-bottom">
    <div>
      <p class="text-title">Gabriel Alves</p>
    </div>   
  </div>
  <div class="l-div-text w3-animate-bottom l-div-padding">
    <div>
      <p class="text-subtitle"><i class="fa fa-briefcase"></i>Full-Stack Developer</p>
      <p class="text-subtitle"><i class="fa fa-envelope"></i>gp_alves@outlook.com</p>
      <p class="text-subtitle"><i class="fa fa-phone"></i>(11) 98543-5273</p>
      <p class="text-subtitle"><i class="fa fa-home"></i>São Paulo, Brasil</p>
    </div>   
  </div>
</div>



