<div class="container-academic w3-animate-right">
  <div class="title">
    <h2>
      <i class="fa fa-graduation-cap"></i>
      Formação Acadêmica
    </h2>
  </div>
  <div>
    
    <div class="section-text">
      <div class="title">
        Faculdade Estácio do Pará
      </div>
      <div class="subtitle">
        Pós Graduação, Engenharia de Software · (2019 - 2020)
      </div>
    </div>

    <div class="section-text">
      <div class="title">
        Faculdade Estácio do Pará
      </div>
      <div class="subtitle">
        Bacharelado em Sistema de Informação, Tecnologia da Informação · (2014 - 2018)
      </div>
    </div>
  </div>
</div>