<div class="container-experience w3-animate-right"> 
  <div class="title">
    <h2>
      <i class="fa fa-suitcase"></i>
      Experiências
    </h2>
  </div>
  <div>
    <div class="section-text">
      <div class="title">
        Avivatec
      </div>
      <div class="subtitle">
        Full-Stack Developer Pleno (março de 2020 - Present)
      </div>
      <div>
          Atuo nas tecnologias .Net Core 3.1, Sql Server, Angular e Flutter
          Todos os projetos eu estou atuando, implemento o padrão DDD, TDD e
          CQRS, e utilizando o conceito de SOLID e Docker.
      </div>
    </div>

    <div class="section-text">
      <div class="title">
        Mádrage
      </div>
      <div class="subtitle">
        Analista de Sistemas Júnior (Novembro de 2019 - Março de 2020
      </div>
      <div>
          Tecnologia utilizada AngularJs, .Net Core 2.1 e Sql Server.
          Durante a minha atuação, empresa tinha contrato com a Unip, onde realizei
          o desenvolvimento de duas API RESTful , utlizando padrão Repository, e
          realizando manutenções no front e deploy das aplicações.
      </div>
    </div>

     <div class="section-text">
      <div class="title">
        Garantia Serviços Ltda
      </div>
      <div class="subtitle">
        Analista de Sistemas Júnior (Agosto de 2018 - Agosto de 2019)
      </div>
      <div>
          Sustentação, e realizar deploy do ERP.
      </div>
    </div>

    <div class="section-text">
      <div class="title">
        Garantia Serviços Ltda
      </div>
      <div class="subtitle">
        Estagiário (Novembro de 2017 - Junho de 2018)
      </div>
      <div>
          Realizava manutenção ERP, utilizando NET
          Framework, e trabalhando com as linguagens C#, JavaScript, SQL Server.
          As tarefas solicitadas eram criações de novas telas em Asp.Net, e relatórios
          sintéticos em jqGrid Wiki (biblilotecas para manipular dados tabulares na web)
          e relatórios em gráficos com Google Charts.
      </div>
    </div>

    <div class="section-text">
      <div class="title">
        Procuradoria Geral do Estado do Pará
     </div>
     <div class="subtitle">
        Analista de Sistemas Júnior (Maio de 2017 - Agosto de 2017)
      </div>
      <div>
          Realizava manutenção em um sistema interno, as tecnologias utilizado é
          Framework .NET, com a linguagem C#. Entre as tarefas, umas delas foi a
          criação de um formulário para cadastrar processos e a criação de Faq.
       </div>
    </div>

     <div class="section-text">
       <div class="title">
          Procuradoria Geral do Estado do Pará
       </div>
       <div class="subtitle">
          Estagiário (Abril de 2016 - Março de 2017)
       </div>
       <div>
          Suporte de sistemas, atendimento ao sistema ERP, suporte de infraestrutura.
       </div>
     </div>

  </div>
</div>