<div class="container-experience w3-animate-right"> 
  <div class="title">
    <h2>
      <i class="fa fa-suitcase"></i>
      Experiências
    </h2>
  </div>
  <div>
    <p>
      Avivatec
      Full-stack Developer
      março de 2020 - Present (3 meses)
      São Paulo, Brasil
      Atuo nas tecnologias .Net Core 3.1, Sql Server, Angular e Flutter
      Todos os projetos eu estou atuando, implemento o padrão DDD, TDD e
      CQRS, e utilizando o conceito de S.O.L.I.D
    </p>
     <p>
      Mádrage
      Analista de sistemas
      novembro de 2019 - março de 2020 (5 meses)
      São Paulo e Região, Brasil
      Tecnologia utilizada AngularJs, .Net Core 2.1 e Sql Server.
      Durante a minha atuação, empresa tinha contrato com a Unip, onde realizei
      o desenvolvimento de duas API RESTful , utlizando padrão Repository. e
      realizando manutenções no front.
     </p>
     <p>
      Garantia Serviços Ltda
      Analista de sistemas
      agosto de 2018 - agosto de 2019 (1 ano 1 mês)
      Pará
      Realizava manutenção sistema interno da empresa, utilizando NET
      Framework, e trabalhando com as linguagens C#, Javascript, SQL Server.
      As tarefas solicitadas eram criações de novas telas em Asp.Net, e relatórios
      sintéticos em jqGrid Wiki (biblilotecas para manipular dados tabulares na web)
      e relatórios em gráficos com Google Charts
     </p>
    <p>
      Garantia Serviços Ltda
      Estagiário
      novembro de 2017 - junho de 2018 (8 meses)
      Belém e Região, Brasil
      Realizava manutenção sistema interno da empresa, utilizando NET
      Framework, e trabalhando com as linguagens C#, Javascript, SQL Server.
      As tarefas solicitadas eram criações de novas telas em Asp.Net, e relatórios
      sintéticos em jqGrid Wiki (biblilotecas para manipular dados tabulares na web)
      e relatórios em gráficos com Google Charts
    </p>
     <p>
      Procuradoria Geral do Estado do Pará
      Analista de sistemas
      maio de 2017 - agosto de 2017 (4 meses)
      Belém e Região, Brasil
      Realizava manutenção em um sistema interno, as tecnologias utilizado é
      Framework .NET, com a lingaugem C#. Entre as tarefas, umas delas foi a
      criação de um formulário para cadastrar processos e a criação de Faq
     </p>
    <p>
      Procuradoria Geral do Estado do Pará
      Estagiário
      abril de 2016 - março de 2017 (1 ano)
      Belém e Região, Brasil
      Suporte de sistemas, atendimento ao sistema ERP, suporte de infraestrutura.
    </p>
  </div>
</div>